@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-background-light: #f8fafc;
  --color-background-dark: #0f172a;
  --color-surface-light: #ffffff;
  --color-surface-dark: #1e293b;
  --font-sans: 'Inter', system-ui, sans-serif;
}


