@import "tailwindcss";

@theme {
  --color-primary-green: #22c55e;
  --color-primary-orange: #f97316;
  --color-background-soft: #f1f5f9;
  --color-text-dark: #334155;
  --color-surface: #ffffff;
  --font-sans: 'Inter', system-ui, sans-serif;
}

body {
  background-color: var(--color-background-soft);
  color: var(--color-text-dark);
}


